*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.windows11{
    background-image:url(windows\ 11\ wallpaper.jpeg);
    background-size:100%,contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position:relative;
}
.navbar{
    position:fixed;
    bottom:0;
    width:100%;
    height:50px;
    background-color: aliceblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.tempature{
    margin-left:10px;
    background-color: green;
    width:30px;
    height:30px;
}
.timemenu{
    margin-right:10px;
    background-color:green;
    width:30px;
    height:30px;
}
.apps{
    display:flex;
    gap:5px;
}
.softwares{
    background-color: red;
    width:30px;
    height:30px;
}
.searchbar{
    display:flex;
    align-items: center;
    position: relative;
}
.searchbar input{
    width:100%;
    height:30px;
    border-radius: 20px;
    border:0.5px solid rgb(207, 206, 206);
    padding-left:28px;
}
.searchbar::before{
    position:absolute;
    content: "";
    top:8px;
    left:8px;
    background-image: url(img/search_icon.svg);
    background-repeat: no-repeat;
    width:15px;
    height:15px;
}
.searchbar input:hover{
    background-color: rgba(0, 255, 255, 0.005);
}

